* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

p {
  font-family: "Open Sans", sans-serif;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes lineDown {
  0% {
    transform: scale(1, 0);
    transform-origin: top center;
  }
  25% {
    transform: scale(1, 1);
    transform-origin: top center;
  }
  75% {
    transform: scale(1, 1);
    transform-origin: top center;
  }
  76% {
    transform: scale(1, 1);
    transform-origin: bottom center;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: bottom center;
  }
}

@keyframes arrowDown {
  0% {
    bottom: 25px;
  }
  20% {
    bottom: 23px;
    opacity: 1;
  }
  30% {
    bottom: 15px;
    opacity: 1;
  }
  70% {
    bottom: 12px;
    opacity: 1;
  }
  100% {
    bottom: 6px;
    opacity: 0;
  }
}

@media screen and (min-width: 320px) {
  .jl-page-wrapper,
  .jl-preloader {
    width: 100%;
    height: 100vh;
    display: table;
    background-color: #1c1c1c;
    border: 30px solid black;
  }

  .jl-preloader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
  }

  .jl-preloader-inner {
    font-size: 1.8rem;
    text-align: center;
    margin-top: -4.5rem;
  }

  .jl-topbar {
    width: 100%;
    height: 11rem;
    display: block;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
  }

  .jl-logo {
    width: 7.4rem;
    height: 11rem;
    float: left;
    margin-left: 6rem;
    background-color: #2ccb69;
    border-radius: 0 0 3.7rem 0;
  }

  .jl-logo img {
    width: 4.6rem;
    height: 3.1rem;
    display: block;
    margin: 5.5rem auto 0;
  }

  .jl-menu {
    display: none;
  }

  .jl-btn-contact {
    width: 4.5rem;
    height: 4.5rem;
    display: block;
    position: fixed;
    bottom: 4.5rem;
    right: 4.5rem;
    border-radius: 50%;
    z-index: 200;
    background-image: url("../images/icon-contact-close.svg");
    background-repeat: no-repeat;
    background-color: #2ccb69;
    transition: all 0.3s ease-out;
    border: none;
  }

  .jl-contact-info {
    width: 24.5rem;
    height: 16.5rem;
    padding: 2.5rem;
    position: fixed;
    bottom: 11.5rem;
    right: 6.5rem;
    z-index: 200;
    display: none;
  }

  .jl-contact-info-inner {
    display: table;
    width: 100%;
    float: right;
  }

  .jl-contact-info-inner p {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .jl-social-links {
    width: 100%;
    height: 4.5rem;
    display: block;
    position: relative;
    left: -1.2rem;
    margin-top: 0.7rem;
  }

  .jl-social {
    width: 4.5rem;
    height: 4.5rem;
    display: inline-block;
  }

  .jl-social > img {
    width: 2rem;
    height: auto;
    display: block;
    margin: 1.3rem auto 0;
  }

  .jl-corner {
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    float: right;
    display: relative;
  }

  .jl-corner:after {
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    position: absolute;
    bottom: -2.5rem;
    right: -0.06rem;
    background: transparent url("../images/corner.svg") no-repeat;
  }

  /*=============HOME==============*/
  .jl-display-text {
    margin-top: 10%;
  }

  #jl-home-presentation {
    background-image: url("../images/joao-lemon-designer-home.png");
    background-repeat: no-repeat;
    background-position: 60% bottom;
    background-size: 100%;
    position: relative;
  }

  .jl-scroll-down {
    width: 7rem;
    height: 10.5rem;
    border-radius: 3.5rem 3.5rem 0 0;
    background-color: #2ccb69;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
  }

  .jl-arrow-down {
    width: 100%;
    height: 7.5rem;
    display: table;
    margin-top: 3rem;
    position: relative;
  }

  .jl-arrow-down img {
    width: 1.6rem;
    height: 1rem;
    display: block;
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    animation: arrowDown 1s linear 1s infinite;
  }

  .jl-arrow-down:before {
    content: "";
    width: 0.2rem;
    height: 4.5rem;
    display: block;
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #000;
    animation: lineDown 1s ease-out infinite;
    transform-origin: top center;
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .jl-menu {
    display: table;
    float: left;
    height: 11rem;
    margin-left: 3rem;
  }
  .jl-menu a {
    font-family: "Open-Sans";
    font-size: 1.6rem;
    color: #bcbcbc;
    text-transform: lowercase;
    text-decoration: none;
    display: inline-block;
    margin: 5rem 2rem 0 2rem;
    font-weight: 400;
    position: relative;
  }

  .jl-menu a:first-child {
    margin-left: 0;
  }

  .jl-menu a:hover {
    color: #2ccb69;
  }

  .jl-menu a:before {
    content: "";
    width: 100%;
    height: 0.4rem;
    background-color: #2ccb69;
    display: block;
    position: absolute;
    bottom: -0.6rem;
    left: 0;
    transition: all 0.4s ease-out;
    transform: scale(0, 0.4);
    transform-origin: center left;
  }

  .jl-menu a:hover:before {
    transform: scale(1, 1);
  }

  /*=====HOME======*/
  #jl-home-presentation {
    background-size: 50%;
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1364px) {
}

@media screen and (min-width: 1600px) {
}

/* ULTILITY CLASSES */

.jl-title {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
}

.jl-title-size {
  font-size: 1.8rem;
}

.jl-title-size-big {
  font-size: 12rem;
}

.jl-text-size {
  font-size: 1.6rem;
}
.jl-text-green {
  color: #2ccb69;
}

.jl-text-dark {
  color: #4d4c4c;
}

.jl-text-light {
  color: #bcbcbc;
}

.jl-text-black {
  color: #000;
}

.jl-bg-green {
  background-color: #2ccb69;
}

.jl-bg-dark {
  background-color: #4d4c4c;
}

.jl-bg-light {
  background-color: #bcbcbc;
}

.jl-bg-black {
  background-color: #000;
}

.jl-mar-15 {
  margin: 1.5rem;
}

.jl-mar-top-15 {
  margin-top: 1.5rem;
}

.jl-mar-right-15 {
  margin-right: 1.5rem;
}

.jl-mar-bottom-15 {
  margin-bottom: 1.5rem;
}

.jl-mar-left-15 {
  margin-left: 1.5rem;
}

.jl-pad-15 {
  padding: 1.5rem;
}

.jl-pad-top-15 {
  padding-top: 1.5rem;
}

.jl-pad-right-15 {
  padding-right: 1.5rem;
}

.jl-pad-bottom-15 {
  padding-bottom: 1.5rem;
}

.jl-pad-left-15 {
  padding-left: 1.5rem;
}

.jl-full-height {
  height: 100vh;
}

.jl-first-section {
  height: calc(100vh - 3rem);
}

/* BEHAVIOR CLASSES */

.jl-is-open {
  display: block;
}

.jl-change-icon {
  background-position-y: -4.5rem;
}

.jl-fade-out {
  animation: fadeOut 0.5s forwards ease-out;
}
